h1 {
  color: #20a8b4;}
.parent {
  border-color: #fff;
  border-style: solid;
  background-color: #f2f2f2;
  flex-direction: column;
  display: flex;
}
.child {
  flex-direction: column
}
.no-bullets {
  list-style-type: none;
  flex-direction: column;
  display: flex;
}
li:hover {
  color: #ff5c0f;
}
li.contact-us {
  color: #fff;
  border-style: solid;
  background-color: #20a8b4;
  padding: 12px;
  border-radius: 10px;
  border-top: 12px;
  position: inherit;
}
li.contact-us:hover {
  background-color: #ff5c0f;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.learn-more {
  color: #fff;
  border-style: solid;
  background-color: #20a8b4;
  padding: 12px;
  border-radius: 10px;
  border-top: 12px;
  position: inherit
}
.learn-more:hover {
  background-color: #ff5c0f;
}
.image {
  display: none;
}
strong {
  color: #ff5c0f;
}

@media screen and (min-width: 768px) {
  .image {
    display: block;
    justify-content: flex-end;
  }

  .parent {
    border-color: #fff;
    border-style: solid;
    background-color: #f2f2f2;
    flex-direction: row;
    display: flex;
  
  }
  .child {
    flex-direction: row;
    display: flex;
    
  }
  .no-bullets {
    list-style-type: none;
    flex-direction: row;
    display: flex;
   
  }
  li:hover {
    color: #ff5c0f;
  }
  li.contact-us {
    color: #fff;
    border-style: solid;
    background-color: #20a8b4;
    padding: 12px;
    border-radius: 10px;
    border-top: 12px;
  }
  li.contact-us:hover {
    background-color: #ff5c0f;}

  }
  
  


